.navbar {
    background-color: #000; /* Darker header background */
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #fff !important; /* White brand text */
}

.nav-link {
    color: #fff !important;
    font-size: 1.1rem;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ccc !important; /* Light gray on hover */
}

.nav-link.active {
    color: #ccc !important; /* Light gray for active link */
    font-weight: bold;
}

.profile-img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.dropdown-menu {
    background-color: #000; /* Darker dropdown background */
    border: none;
}

.dropdown-item {
    color: #fff;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #333; /* Dark gray on hover */
}

/* Footer styles */
.footer {
    background-color: #000000;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #ccc;
    font-size: 0.9rem;
}

.disclaimer {
    font-style: italic;
}

/* Responsive styles for navbar and footer */
@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size: 1rem;
        margin-left: 10px;
    }

    .footer p {
        font-size: 0.85rem;
    }
}